<input type="text"
       class=" br2 ba pa2 b--black-20 mb3"
       placeholder="Add Your Own"
       onkeydown={{action @handleKeyDown}}
       oninput={{action updatePreview}}
       autofocus>
<div class="w-20 center">
 <div class="br-100 w3 h3 white" style="background-color: {{colorString}};">
 </div>
 {{colorString}}
</div>
{{#if invalidInput}}
  <p class="f6 red">Please Enter a valid hex color. (#666 or #c0ffee)</p>
{{/if}}