<div id="color-sort-app">
  <div class="fl w-third-l w-100 pa5 tc">
    <h1>Color Sort</h1>
    <input type="text" >
  </div>
  <div class="fl w-two-thirds-l w-100">
    {{#each itemsOfItems key="@index" as |item|}}
      {{#if item.even}}
      <div class="flex justify-between pr5 pl5 pt2 pb2">
        {{#each item.colors key="@index2" as |color|}}
          <div class="br-100 w3 h3" style="background-color: {{color}};"></div>
        {{/each}}
      </div>
      {{else}}
      <div class="flex justify-around pa5">
        {{#each item.colors key="@index2" as |color|}}
          <div class="br-100 w3 h3" style="background-color: {{color}};"></div>
        {{/each}}
      </div>
      {{/if}}
    {{/each}}
  </div>
</div>
